<main class="overflow-hidden overflow-x-hidden">
  
  <div class="navbar-sobre-mapa-inicio">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <nav class="navbar bg-body-tertiary border rounded-pill px-2" aria-label="Dark offcanvas navbar">
            <div class="container ">
              <div class="align-items-center d-flex w-100">

                <div class="col-11 ps-md-0 d-flex align-items-center gap-3">
                  <svg class="my-1" width="24" height="24" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M24.9658 39.1727C24.1708 39.917 23.1081 40.3332 22.002 40.3332C20.896 40.3332 19.8334 39.917 19.0383 39.1727C11.7572 32.3142 1.99973 24.6525 6.75816 13.5292C9.33099 7.51496 15.507 3.6665 22.002 3.6665C28.4971 3.6665 34.6731 7.51496 37.246 13.5292C41.9984 24.6386 32.2648 32.3378 24.9658 39.1727Z" fill="#D9D9D9" stroke="#6C757D"/>
                    <path d="M28.4163 20.1667C28.4163 23.7105 25.5435 26.5833 21.9997 26.5833C18.4558 26.5833 15.583 23.7105 15.583 20.1667C15.583 16.6228 18.4558 13.75 21.9997 13.75C25.5435 13.75 28.4163 16.6228 28.4163 20.1667Z" fill="#6C757D"/>
                    </svg>
                       
                  <div class="d-flex align-items-center justify-content-between">
                    <p class="m-0 text-secondary">Escoge un origen. . .</p>
                  </div>
                </div>

              </div>
            </div>
          </nav>
        </div>

      </div>
    </div>
  </div>

  <div id="mapOrigen" class="w-100 vh-100"></div>

  <div class="contenedorInferiorMapa position-absolute w-100 ">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 mb-2">
          <div class="bg-body-tertiary border rounded">
            <div class="container py-2">
              <a load="/escoger-destino" class="btn btn-outline-primary bg-transparent position-relative w-100 d-flex align-items-center justify-content-between" type="button">
                <div class=" text-start tex"> 
                 <div class="fw-bold text-body">Desde mi ubicación actual</div>
                  <small class="text-primary">
                    Curva de molina con 92 C. 79A
                  </small>
                </div>
                 <i class="hgi hgi-stroke hgi-circle-arrow-right-02 fs-3 text-primary"></i>
                 
              </a>

               <a load="/escoger-destino" class="btn btn-primary w-100 mt-2 d-flex align-items-center justify-content-between" type="button">
                <div class="container"> Escoger destino</div>
                 <i class="hgi hgi-stroke hgi-circle-arrow-right-02 fs-3"></i>
               </a>
            </div>
          </div>
        </div>
      </div>


    </div>      
  </div>
</main>